-- MySQL dump 10.13  Distrib 8.0.32, for Win64 (x86_64)
--
-- Host: localhost    Database: iot
-- ------------------------------------------------------
-- Server version	8.0.32

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `record`
--

DROP TABLE IF EXISTS `record`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `record` (
  `id` int NOT NULL AUTO_INCREMENT,
  `Distance` int DEFAULT NULL,
  `Humidity` int DEFAULT NULL,
  `Temperature` int DEFAULT NULL,
  `TrashCanId` int NOT NULL,
  `DateTime` datetime DEFAULT NULL,
  `Mode` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `TrashCanId` (`TrashCanId`),
  CONSTRAINT `record_ibfk_1` FOREIGN KEY (`TrashCanId`) REFERENCES `trashcan` (`Id`)
) ENGINE=InnoDB AUTO_INCREMENT=596 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `record`
--

LOCK TABLES `record` WRITE;
/*!40000 ALTER TABLE `record` DISABLE KEYS */;
/*!40000 ALTER TABLE `record` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `time`
--

DROP TABLE IF EXISTS `time`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `time` (
  `id` int NOT NULL AUTO_INCREMENT,
  `TrashCanId` int NOT NULL,
  `TimeConsume` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `TrashCanId` (`TrashCanId`),
  CONSTRAINT `time_ibfk_1` FOREIGN KEY (`TrashCanId`) REFERENCES `trashcan` (`Id`)
) ENGINE=InnoDB AUTO_INCREMENT=56 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `time`
--

LOCK TABLES `time` WRITE;
/*!40000 ALTER TABLE `time` DISABLE KEYS */;
INSERT INTO `time` VALUES (1,1,48),(2,1,67),(3,1,55),(4,1,123),(5,1,74),(6,1,0),(7,1,0),(8,1,0),(9,1,0),(10,1,0),(11,1,0),(12,1,0),(13,1,0),(14,1,0),(15,1,0),(16,1,0),(17,1,0),(18,1,0),(19,1,0),(20,1,0),(21,1,0),(22,1,0),(23,1,0),(24,1,0),(25,1,0),(26,1,0),(27,1,0),(28,1,0),(29,1,0),(30,1,0),(31,1,0),(32,1,0),(33,1,0),(34,1,0),(35,1,0),(36,1,0),(37,1,0),(38,1,0),(39,1,0),(40,1,0),(41,1,0),(42,1,0),(43,1,0),(44,1,0),(45,1,0),(46,1,2147483647),(47,1,2147483647),(48,1,2147483647),(49,1,-59),(50,1,0),(51,1,0),(52,1,0),(53,1,0),(54,1,0),(55,1,0);
/*!40000 ALTER TABLE `time` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trashcan`
--

DROP TABLE IF EXISTS `trashcan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trashcan` (
  `Id` int NOT NULL,
  `Distance` int DEFAULT NULL,
  `Humidity` int DEFAULT NULL,
  `Temperature` int DEFAULT NULL,
  `Latitude` double(30,8) DEFAULT NULL,
  `Longitude` double(30,8) DEFAULT NULL,
  `Depth` int DEFAULT NULL,
  `LastEmptyTime` datetime DEFAULT NULL,
  `EstimatedTime` int DEFAULT NULL,
  `Variance` int DEFAULT NULL,
  `LocationDescription` varchar(255) DEFAULT NULL,
  `Mode` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`Id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trashcan`
--

LOCK TABLES `trashcan` WRITE;
/*!40000 ALTER TABLE `trashcan` DISABLE KEYS */;
INSERT INTO `trashcan` VALUES (1,18,58,22,52.44597800,-1.93516700,100,'2023-08-29 17:36:16',95,134217727,'Near the UOB South Gate','1'),(2,6,45,33,52.44425600,-1.93415600,80,'2023-07-12 01:08:40',111,222,'At the entrance of McDonald\'s','2'),(3,50,55,46,52.44917300,-1.93413300,50,'2023-07-29 18:52:04',50,40,'near AIDI','1'),(4,97,43,22,52.44587900,-1.93816500,100,'2023-08-28 21:11:32',46,13,'By the riverbank','1');
/*!40000 ALTER TABLE `trashcan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `id` int NOT NULL AUTO_INCREMENT,
  `UserName` varchar(255) NOT NULL,
  `Password` varchar(255) NOT NULL,
  `NickName` varchar(255) DEFAULT NULL,
  `Identity` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
INSERT INTO `user` VALUES (1,'y','t',NULL,NULL),(2,'2','2',NULL,NULL),(5,'3','3',NULL,NULL);
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2023-09-15  0:26:02
